{% liquid
  assign loading = 'lazy'
  assign fetchpriority = 'auto'
%}

<div class="il-basicCompositionDrawer">
  <div class="il-basicCompositionDrawer__overlay"></div>
  <div class="il-basicCompositionDrawer__container">
    <div class="il-basicCompositionDrawer__close">
      {% render 'basic-cross-icon' %}
    </div>
    <div class="il-basicCompositionDrawer__contentWrapper">
      <h2 class="il-basicCompositionDrawer__heading text-p text-p--primaryFont text-p--24">
        {{ section.settings.basic_composition_heading }}
      </h2>
      <div class="il-basicCompositionDrawer__imageWrap">
        {{
          section.settings.composition_image
          | image_url: width: 1080 
          | image_tag: 
            loading: loading, 
            fetchpriority: fetchpriority, 
            class: 'il-basicCompositionDrawer__image'
        }}
      </div>
    </div>
  </div>
</div>

<style>
  .product-info__composition {
    width: 100%;
    max-width: max-content;
    cursor: pointer;
  }

  .il-basicCompositionDrawer {
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    right: 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
  }

  .il-basicCompositionDrawer--open {
    right: 0;
    opacity: 1;
    visibility: visible;
  }

  .il-basicCompositionDrawer__overlay {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .il-basicCompositionDrawer__container {
    width: 100%;
    max-width: 480px;
    right: 0;
    position: fixed;
    height: 100%;
    z-index: 99;
    background: var(--color-white);
    padding: 28px;
    overflow: hidden;
  }

  .il-basicCompositionDrawer__imageWrap {
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 150px);
  }

  .il-basicCompositionDrawer__imageWrap::-webkit-scrollbar {
    width: 1px;
  }

  .il-basicCompositionDrawer__imageWrap::-webkit-scrollbar-track {
    background: var(--color-grey-12);
  }
  
  .il-basicCompositionDrawer__imageWrap::-webkit-scrollbar-thumb {
    background: var(--color-grey-13);
  }
  
  .il-basicCompositionDrawer__imageWrap::-webkit-scrollbar-thumb:hover {
    background: var(--color-grey-14);
  }

  .il-basicCompositionDrawer__close {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 28px;
    cursor: pointer;
  }

  .il-basicCompositionDrawer__heading {
    text-align: var(--text-left);
    margin-bottom: 30px;
  }

  .il-basicCompositionDrawer__image {
    width: 100%;
  }

  @media (min-width: 750px) {
    .il-basicCompositionDrawer__container {
      -webkit-transition: transform 0.5s ease;
      -moz-transition: transform 0.5s ease;
      transition: transform 0.5s ease;
      transform: translateX(100%);
    }

    .il-basicCompositionDrawer__container--active {
      transform: translateX(0);
    }
  }

  @media (max-width: 750px) {
    .il-basicCompositionDrawer__container {
      transform: translateY(100%);
      transition: transform 0.5s linear;
      max-width: 100%;
    }

    .il-basicCompositionDrawer__container--active {
      transform: translateY(0%);
    }
  }

  @media (max-width: 768px) {
    .il-basicCompositionDrawer__heading {
      font-size: var(--font-size-18);
    }
    .il-basicCompositionDrawer__close {
      padding-bottom: 20px;
    }

    .il-basicCompositionDrawer__container {
      padding: 15px;
      height: calc(100vh - 44px);
      margin-top: 44px;
      border-radius: 10px 10px 0 0;
    }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var drawerRight = document.querySelector('.il-basicCompositionDrawer');
    var container = document.querySelector('.il-basicCompositionDrawer__container');
    var productInfoComposition = document.querySelector('.product-info__composition');
    var closeBtn = document.querySelector('.il-basicCompositionDrawer__close');

    productInfoComposition.addEventListener('click', function (event) {
      event.stopPropagation();
      drawerRight.classList.add('il-basicCompositionDrawer--open');
      setTimeout(function () {
        container.classList.add('il-basicCompositionDrawer__container--active');
      }, 500);
    });

    closeBtn.addEventListener('click', function (event) {
      event.stopPropagation();
      drawerRight.classList.remove('il-basicCompositionDrawer--open');
      container.classList.remove('il-basicCompositionDrawer__container--active');
    });

    document.addEventListener('click', function (event) {
      if (!container.contains(event.target)) {
        drawerRight.classList.remove('il-basicCompositionDrawer--open');
        container.classList.remove('il-basicCompositionDrawer__container--active');
      }
    });
  });
</script>
