{% if request.page_type == "404" %}

      <div class="container">
         <h1 class="h0">常見問題</h1> 
       
      </div>


 {% else %}
<div class="not-found">
  <div class="prose text-center" ddts {{ page }}>
    <h2 class="h4">{{ '404.general.title' | t }}</h2>
    {%- capture button_content -%}{{ '404.general.continue_shopping' | t }}{%- endcapture -%}
    {%- render 'button', content: button_content, href: routes.all_products_collection_url, size: 'xl' -%}
  </div>
</div>
{% endif %}

<style>
  .not-found1{
    height:800px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
{% schema %}
{
  "name": "404",
  "class": "shopify-section--404",
  "tag": "section"
}
{% endschema %}