{% if request.page_type == "404" %}



 {% else %}
<div class="not-found">
  <div class="prose text-center" ddts {{ page }}>
    <h2 class="h4">{{ '404.general.title' | t }}</h2>
    {%- capture button_content -%}{{ '404.general.continue_shopping' | t }}{%- endcapture -%}
    {%- render 'button', content: button_content, href: routes.all_products_collection_url, size: 'xl' -%}
  </div>
</div>
{% endif %}


{% if request.page_type == "404" %}
<style>
  .prose h3 strong{
    font-family: Montserrat!important;
    font-size: 40px;
    font-weight: 600;
    line-height: 58px;
    letter-spacing: .1em;
}
.blog.blogcus {
    margin-top: 59px!important;
}

</style>

 {% endif %}

{% schema %}
{
  "name": "404",
  "class": "shopify-section--404",
  "tag": "section"
}
{% endschema %}