{% if request.page_type == "404" %}

  <header class="mandasa_dev_con">
      <div class="container">
        <div class="blog-banner-content-head v-stack gap-10 text-center justify-items-center">
          <div class="v-stack gap-5 sm:gap-8">
            <h1 class="h0 mandasa_archive_tt">常見問題</h1></div></div>       
      </div>
    </header>

 {% else %}
<div class="not-found">
  <div class="prose text-center" ddts {{ page }}>
    <h2 class="h4">{{ '404.general.title' | t }}</h2>
    {%- capture button_content -%}{{ '404.general.continue_shopping' | t }}{%- endcapture -%}
    {%- render 'button', content: button_content, href: routes.all_products_collection_url, size: 'xl' -%}
  </div>
</div>
{% endif %}

<style>
  .not-found1{
    height:800px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
{% schema %}
{
  "name": "404",
  "class": "shopify-section--404",
  "tag": "section"
}
{% endschema %}