<div class="il-reactStore"></div>

<script
  src="https://iloom-react-assets.s3.ap-northeast-2.amazonaws.com/1.0/iloom-sidebar.js?v=184088495876431160121697099420"
  async=""
  type="module"
></script>

<style>
  .prose .h4 {
    color: var(--color-white);
    font-family: var(--font-primary);
  }
  
  @media (max-width: 768px) {
    .prose {
      margin-top: 60px;
    }
  }
</style>

{% schema %}
{
  "name": "React Store",
  "settings": [],
  "presets": [
    {
      "name": "React Store"
    }
  ]
}
{% endschema %}
