/* Font Family */
@font-face {
  font-family: 'Noto_Sans_TC';
  src: url('https://cdn.shopify.com/s/files/1/0575/1576/9926/files/Noto_Sans_TC.ttf?v=1700885436') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('https://cdn.shopify.com/s/files/1/0575/1576/9926/files/Noto_Sans_TC.ttf?v=1700885436') format('truetype');
}
@font-face {
  font-family: 'Avenir_Regular';
  src: url('https://cdn.shopify.com/s/files/1/0575/1576/9926/files/Avenir_Regular.ttf?v=1700886449') format('truetype');
}
@font-face {
  font-family: 'NotoSansCJKkr-Regular';
  src: url('https://cdn.shopify.com/s/files/1/0575/1576/9926/files/NotoSansCJKkr-Regular.otf?v=1700888589') format('truetype');
}
/*End Font Family */

/* Magazaine Blog CSS */
.blog-banner .m-blog-filter-list [aria-selected=true]{
  background-color:#3C3C3C;
  color: #FFF;
}
.blog-banner .m-blog-filter-list li a{
      font-family: 'Montserrat-Regular';
font-size: 16px;
font-weight: 400;
text-transform: uppercase;
  border: 1px solid #666;
      padding: 7px 74px;
}
.blog-banner .m-blog-filter-list [aria-selected=false]{
  opacity:1;
  color: #666;
}
.m-contain{
      margin-top: 27px;
}
.m_blog{
  background: #F9F8F7;
}
.m-blog-posts .m-badge{
  font-family: 'Avenir_Regular';
font-size: 10px !important;
font-weight: 900;
letter-spacing: 2.3px;
  color: #3C3C3C;
  background: white;
border-radius: 2px;
border: 1px solid #3C3C3C;
  text-transform:uppercase;
      left: auto !important;
    right: 15px !important;
}
.m-banner h1{
  color: #FFF;
font-size: 40px;
font-weight: 500;
letter-spacing: 4px;
  font-family: 'Noto_Sans_TC';
}
.m-blog-posts a{
  border-radius: 0px 0px 10px 10px;
}
.m-blog-posts .blog-post-card{
  background: #FFF;
      border-radius: 10px 10px 0px 0px;
}
.m-blog-posts .blog-post-card__figure{
      overflow: unset;
}
.m-blog-posts .blog-post-card__info .v-stack-m {
              padding: 24px 28px 28px;
}
.m-blog-posts .blog-post-card {
  gap: 0px;
}
.blogcus .pagination{
      background: none;
    border: none;
}
.pagination .pagination__item-m{
      display: flex;
    align-items: center;
}
.pagination .page-prev-m {
   display: flex;
  flex-direction: row;
       align-items: center;
}
.blog-post-card_info_m .v-stack .h3{
  color: #3C3C3C;
font-family: 'Noto_Sans_TC';
font-size: 24px;
font-weight: 500;
}
.m-para{
  color:#3C3C3C;
  font-family: 'NotoSansCJKkr-Regular';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.m-tags{
  color: #666;
font-family:'NotoSansCJKkr-Regular';
font-size: 14px;
font-weight: 400;
margin-top: 33px;
  text-transform:uppercase;
}
.m-tags span{
  padding-right: 5px;
}
.m--blog-posts__container{
  padding-bottom:80px;
}
.pagination-m-cus .pagination__current{
  color: #000;
    text-align: center;
    font-family: 'Avenir_Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
}
.current_mm{
  padding: 0px 9px;
    background: #F2EFEA;
    border-radius: 50%;
}
.m--blog-posts__container{
      max-width: 1071px;
    margin-right: auto;
    margin-left: auto;
      gap: 36px;
}
.m-contain{
  max-width: 1071px;
    margin-right: auto;
    margin-left: auto;
}
.m--blog-posts__container .m-blog-posts{
  gap: 36px;
}
@media screen and (min-width: 767px){
  #Huratips-Pagination{
    display:none;
  }
}
@media screen and (max-width: 767px){
.m--blog-posts__container .pagination-m-cus{
    display:none;
  }
  .m-banner h1 {
        font-size: 22px;
  }
  .blog-banner .m-blog-filter-list li a{
        font-size: 12px;
        padding: 10px 18px;
  }
  .m-contain{
        margin: 0px;
  }
 .m-contain .scroll-area{
    padding:0px;
  }
}