.template-product .anchor {
    padding-top: 64px;
  }
  
  .shopify-section--main-product>.section {
    padding-bottom: 60px;
  }
  
  .shopify-section--main-product .product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0;
    column-gap: 30px;
  }
  
  .shopify-section--main-product .product .product-gallery {
    flex: 1;
    position: sticky;
    --spacing-12: 16px;
    top: var(--sticky-area-height);
  }
  
  .shopify-section--main-product .product .product-gallery .product-gallery__img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  
  .product .product-gallery__thumbnail {
    display: flex;
  }
  
  .product .product-gallery__thumbnail::after {
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 4px;
    backface-visibility: hidden;
    background-color: transparent;
    border: 1px solid transparent;
  }
  
  .product .product-gallery__thumbnail[aria-current=true]::after {
    border-color: var(--color-primary);
  }
  
  .product .product-gallery__thumbnail .product-gallery__thumb {
    flex: 1;
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
  
  .product .product-gallery__thumbnail[aria-current=true],
  .product .product-gallery__thumbnail[aria-current=true] .product-gallery__thumb {
    border-radius: 4px;
    backface-visibility: hidden;
  }
  
  .product .product-gallery--desktop-thumbnails-left .product-gallery__thumbnail-list {
    gap: 12px;
    grid-auto-columns: 60px;
  }
  
  .shopify-section--main-product .product .product-info {
    flex: 0 0 464px;
    max-width: 464px;
  }
  
  .il-product__series {
    margin-top: 0;
    display: flex;
    margin-bottom: 6px;
    line-height: normal;
    letter-spacing: 0.1em;
    color: var(--color-primary);
    font-weight: var(--font-weight-500);
    text-transform: var(--text-uppercase);
  }
  
  .il-product__series .il-product__seriesItem {
    display: flex;
    position: relative;
  }
  
  .il-product__series .il-product__seriesItem:not(:last-child)::after {
    content: '/';
  }
  
  .il-product__title {
    display: flex;
    row-gap: 12px;
    margin-top: 0;
    flex-wrap: wrap;
    margin-bottom: 12px;
    align-items: center;
    justify-content: space-between;
  }
  
  .il-product__titlenNextBlock {
    display: flex;
    flex-direction: row;
    column-gap: 14px;
    align-items: center;
  }
  
  .product-form__share,
  .product-form__wishlist {
    display: flex;
  }
  
  .product-info__share-buttons {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    left: 0;
    top: 0;
    z-index: 950;
    align-items: center;
    justify-content: center;
  }
  
  .product-info__share-buttons .share-buttons {
    padding: 0;
    width: 400px;
    height: 210px;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background: var(--color-white);
  }
  
  .product-info__share-buttons .share-buttons .share-buttons--close {
    position: absolute;
    width: 25px;
    height: 25px;
    border: none;
    top: 15px;
    right: 15px;
    float: right;
    background-size: contain;
    background-color: var(--color-white);
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(https://cdn.shopify.com/s/files/1/0575/1576/9926/files/closed_large_24px.png);
  }
  
  .product-info__share-buttons .il-shareList {
    gap: 34px;
    display: flex;
    margin-top: 34px;
    justify-content: center;
  }
  
  .product-info__share-buttons .il-shareList__btn,
  .product-info__share-buttons .il-shareList__item {
    display: flex;
  }
  
  .product-info__share-buttons .il-shareList .icon {
    width: 24px;
    height: 24px;
  }
  
  .product-info__share-buttons .il-shareList__toast {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-14);
    line-height: 1;
    padding: 15px;
    width: 200px;
    left: 50%;
    bottom: 100px;
    display: none;
    position: fixed;
    max-width: 200px;
    border-radius: 50px;
    color: var(--color-white);
    transform: translateX(-50%);
    text-align: var(--text-center);
    background-color: var(--color-primary);
  }
  
  .product-info__shareHeading {
    display: block;
    font-weight: var(--font-weight-500);
    text-align: var(--text-center);
  }
  
  .product-info__title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: normal;
    color: var(--color-primary);
    font-weight: var(--font-weight-500);
  }
  
  .product .product-info__badge-list {
    margin-bottom: 14px;
  }
  
  .product .product-info__badge-list .badge--image {
    max-width: 52px;
    border-radius: 0;
    background-color: var(--color-transparent);
  }
  
  .product .product-info__badge-list .badge--image .badge-img {
    height: auto;
  }
  
  .product .product-info__price {
    gap: 10px;
    margin-top: 0;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .product .product-info__sku {
    font-family: var(--font-secondary);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-400);
    line-height: 1.215;
    letter-spacing: -0.03em;
    color: var(--color-primary);
    text-align: var(--text-left);
  }
  
  .product-info__price .price-list,
  .product-info__price .rating-with-text {
    align-items: center;
  }
  
  .product .product-info__rating {
    margin-top: 0;
    margin-bottom: 18px;
  }
  
  .product .product-info__ratingWrapper {
    display: flex;
    align-items: center;
  }
  
  .product .product-info__ratingText {
    margin-left: 8px;
    font-family: var(--font-secondary);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-400);
    line-height: 1;
    letter-spacing: 0em;
    color: var(--color-grey-06);
    display: flex;
    margin-top: 2px;
  }
  
  .product .product-info__ratingWrapper .icon {
    max-width: 24px;
  }
  
  .product .product-info__price .product-info__badge-list {
    margin-bottom: 0;
  }
  
  .product .product-info__price .product-info__badge-list .badge {
    gap: 10px;
    padding: 4px 10px;
    border-radius: 50px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    color: var(--color-white);
    background-color: var(--color-red);
    font-family: var(--font-secondary);
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-500);
    line-height: 1;
    color: var(--color-white);
  }
  
  .product .product-info__price .product-info__badge-list .badge .price,
  .product .product-info__price .product-info__badge-list .badge .price * {
    font-family: var(--font-secondary);
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-500);
    line-height: 1;
    color: var(--color-white);
  }
  
  .product-info__price .price-list .price {
    display: flex;
    align-items: center;
  }
  
  .product-info__price .price-list sale-price,
  .product-info__price .price-list sale-price * {
    font-family: var(--font-secondary);
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-500);
    line-height: normal;
    color: var(--color-primary);
  }
  
  .product-info__price .price-list sale-price .nt-dollar {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-400);
    margin-right: 6px;
  }
  
  .product-info__price .price-list compare-at-price,
  .product-info__price .price-list compare-at-price * {
    font-family: var(--font-secondary);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-400);
    line-height: normal;
    color: var(--color-grey-08);
    text-decoration-thickness: 0.025em;
  }
  
  .product-info__price .price-list {
    flex-wrap: nowrap;
    gap: 10px;
  }
  
  .product-info__price .price-list compare-at-price .nt-dollar {
    display: none;
  }
  
  .product .product-info__variant-picker {
    margin: 0;
    padding: 0;
  }
  
  .product .product-info__variant-picker .variant-picker {
    padding: 20px 0;
    margin: 16px 0 14px;
    border-top: 1px solid var(--color-grey-10);
    border-bottom: 1px solid var(--color-grey-10);
    --spacing-6: 24px
  }
  
  .product .variant-picker__option-info {
    margin: 0 2px 10px;
  }
  
  .product .variant-picker__option-info .text-subdued,
  .product .variant-picker__option-info variant-option-value {
    font-family: var(--font-secondary);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-400);
    line-height: normal;
    color: var(--color-primary);
    text-transform: var(--text-uppercase);
  }
  
  .variant-picker__option .variant-picker__option-values {
    gap: 0;
  }
  
  .variant-picker__option .variant-picker__option-values.variant-picker__option--mainOption {
    row-gap: 8px;
  }
  
  .variant-picker__option .variant-picker__option-values .block-swatch {
    margin: 0 4px 0 1px;
  }
  
  .product-info__variant-picker .color-swatch {
    width: 20px;
    height: 20px;
    --swatch-offset: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: var(--swatch-background-img);
    transform: translateX(-3px);
  }
  
  .product-info__variant-picker .color-swatch::before {
    box-shadow: 0 0 0 1px var(--color-grey-06);
  }
  
  .variant-picker__option .variant-picker__option-values .block-swatch {
    flex: 1;
    gap: 3px;
    padding: 6px 14px 8px;
    border-radius: 6px;
    flex-direction: column;
    justify-content: center;
  }
  
  .variant-picker__option .variant-picker__option-values :checked+.block-swatch,
  .variant-picker__option .variant-picker__option-values .block-swatch.is-selected {
    background-color: var(--color-primary);
  }
  
  .variant-picker__option .variant-picker__option-values .block-swatch::before {
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 0 1px var(--color-grey-04);
  }
  
  .variant-picker__option .variant-picker__option-values :checked+.block-swatch::before,
  .variant-picker__option .variant-picker__option-values .block-swatch.is-selected::before {
    box-shadow: 0 0 0 1px var(--color-primary);
  }
  
  .il-priceDiff,
  .il-priceDiff span {
    font-family: var(--font-secondary);
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-400);
    line-height: normal;
    text-align: center;
    color: var(--color-gray-06);
  }
  
  .il-swatchName {
    font-family: var(--font-secondary);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-500);
    line-height: normal;
    text-align: center;
    color: var(--color-gray-06);
  }
  
  .variant-picker__option .variant-picker__option-values :checked+.block-swatch .il-priceDiff,
  .variant-picker__option .variant-picker__option-values .block-swatch.is-selected .il-priceDiff,
  .variant-picker__option .variant-picker__option-values :checked+.block-swatch .il-priceDiff span,
  .variant-picker__option .variant-picker__option-values .block-swatch.is-selected .il-priceDiff span {
    color: var(--color-grey-04);
  }
  
  
  .variant-picker__option .variant-picker__option-values :checked+.block-swatch .il-swatchName,
  .variant-picker__option .variant-picker__option-values .block-swatch.is-selected .il-swatchName {
    color: var(--color-white);
  }
  
  .product-info__event {
    margin-top: 0;
    margin-bottom: 2px;
  }
  
  .product-info__eventLink {
    display: flex;
    padding: 6px 14px;
    border-radius: 4px;
    align-items: center;
    line-height: normal;
    background: var(--color-grey-11);
    color: var(--color-primary);
    font-weight: var(--font-weight-400);
  }
  
  .product-info__event--iconPercent {
    display: flex;
    width: 24px;
    height: 24px;
    padding: 2.4px 2.402px 2.4px 2.398px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 8px;
  }
  
  .product-info__event--iconRight {
    margin-right: 0;
    margin-left: auto;
  }
  
  .product .product-info__quantity-selector {
    margin: 14px 0;
  }
  
  .product .product-info__quantity-selector .form-control {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .product .block-label {
    font-family: var(--font-primary);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-400);
    line-height: 1.425;
    letter-spacing: 0em;
    text-align: var(--text-left);
    margin-bottom: 0;
    opacity: 1;
    text-transform: var(--text-uppercase);
    color: var(--color-primary);
  }
  
  .product .quantity-selector {
    border-radius: 0;
    --input-height: 32px;
    background-color: var(--color-grey-03);
    border: 2px solid var(--color-grey-03);
  }
  
  .product .quantity-selector .quantity-selector__button {
    width: 28px;
    height: 28px;
    display: flex;
    padding: 5.25px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
  }
  
  .product .quantity-selector .quantity-selector__input {
    --spacing-6: 32px;
    max-width: 32px;
    font-family: var(--font-secondary);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-500);
    line-height: 17px;
    letter-spacing: -0.03em;
    text-align: var(--text-center);
  }
  
  .product-info__total-price {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid var(--color-primary);
  }
  
  .product-info__total-price .form-control {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .product-info__total-price .price {
    display: flex;
    column-gap: 8px;
    align-items: center;
    font-family: var(--font-secondary);
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-700);
    line-height: 1;
    letter-spacing: -0.03em;
    color: var(--color-primary);
  }
  
  .product-info__total-price .price .nt-dollar {
    font-family: var(--font-secondary);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-500);
    line-height: 1;
    letter-spacing: 0em;
    color: var(--color-primary);
  }
  
  .product .buy-buttons .button-black,
  .shopify-section--main-product .product-quick-add .button-black {
    border-radius: 0;
    color: var(--color-white);
    border-color: var(--color-primary);
    background-color: var(--color-primary);
  }
  
  .product-info__buy-buttons {
    margin-top: 30px;
    margin-bottom: 0;
  }
  
  .product .buy-buttons .button-black div,
  .shopify-section--main-product .product-quick-add .button-black div {
    color: var(--color-white);
  }
  
  .variant-picker__option {
    overflow: hidden;
  }
  
  .shopify-section--main-product .product-quick-add {
    display: none;
  }
  
  .product-info__compositionWrapper {
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .product-info__coompositionTitle {
    font-family: var(--font-primary);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-400);
    line-height: 1.43;
    letter-spacing: 0em;
    text-align: var(--text-left);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .il-addonProducts {
    margin-top: 30px;
    margin-bottom: 0;
  }
  
  .il-addonProducts__heading {
    font-weight: var(--font-weight-500);
    line-height: 1.45;
    letter-spacing: 0em;
    margin-bottom: 12px;
    color: var(--color-primary);
  }
  
  .il-addonProducts .product-card {
    display: flex;
    padding: 20px;
    border-radius: 0px;
    flex-direction: row;
    align-items: center;
    color: var(--color-primary);
    background-color: var(--color-grey-01);
  }
  
  .il-addonProducts .product-card:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  
  .il-addonProducts .product-card:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  
  .il-addonProducts .product-card:not(:last-child) {
    border-bottom: 1px solid var(--color-grey-04);
  }
  
  .il-addonProducts .product-card .product-card__figure {
    max-width: 70px;
    flex: 0 0 70px;
    margin-right: 14px;
  }
  
  .il-addonProducts .product-card .product-card__figure .product-card__image {
    mix-blend-mode: multiply;
  }
  
  .il-addonProducts .product-card .product-card__info {
    flex: 1;
    gap: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .il-addonProducts .product-card .product-card__title-with-price {
    flex: 0 0 80%;
    max-width: 80%;
  }
  
  .il-addonProducts .product-card__title {
    font-family: var(--font-secondary);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-500);
    line-height: 1.45;
    letter-spacing: 0em;
    color: var(--color-primary);
    margin-bottom: 10px;
    display: block;
  }
  
  .il-addonProducts sale-price {
    font-size: 0;
  }
  
  .il-addonProducts sale-price .price {
    font-family: var(--font-secondary);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-500);
    line-height: 1.45;
    letter-spacing: -0.03em;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .il-addonProducts sale-price .price .nt-dollar {
    font-family: var(--font-secondary);
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-400);
    line-height: 1.45;
    letter-spacing: -0.03em;
    color: var(--color-primary);
  }
  
  .il-addonProducts compare-at-price .price {
    font-family: var(--font-secondary);
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-500);
    line-height: 1.45;
    letter-spacing: -0.03em;
    color: var(--color-primary);
    display: flex;
    align-items: center;
  }
  
  .il-addonProducts .product-card .product-card__info .price-list .discount-price {
    display: none;
  }
  
  .il-addonProducts .product-card .product-card__series {
    font-family: var(--font-primary);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-500);
    line-height: 1.45;
    letter-spacing: 0em;
    color: var(--color-primary);
    text-align: var(--text-left);
    margin-bottom: 10px;
    display: block;
  }
  
  .il-addonProducts .product-card .product-card__series {
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-400);
    text-transform: var(--text-uppercase);
    line-height: 1;
    margin-bottom: 5px;
  }
  
  .il-addonProducts .product-card .product-card__series .product-card__seriesItem {
    line-height: 15px;
    display: inline-flex;
  }
  
  .il-addonProducts .product-card .product-card__series .product-card__seriesItem:not(:last-child)::after {
    content: '/';
  }
  
  .il-addonProducts .button-black {
    padding: 0;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    color: var(--color-transparent);
    background-position: center center;
    background-color: var(--color-primary);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M12 6V18' stroke='white' stroke-linejoin='round'/%3E%3Cpath d='M6 12H18' stroke='white' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
  
  .il-addonProducts .button-black>div {
    display: none;
  }
  
  .quick-buy-drawer.drawer::part(content) {
    border-radius: 10px;
  }
  
  .product-info__informationContainer {
    gap: 8px;
    display: flex;
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    border-top: 1px solid var(--color-grey-10);
    border-bottom: 1px solid var(--color-grey-10);
  }
  
  .product-info__innerInformationContainer {
    display: flex;
    gap: 15px;
  }
  
  .product-info__innerInformationTitle {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: var(--font-size-14);
    font-style: normal;
    font-weight: var(--font-weight-500);
    line-height: normal;
  }
  
  .product-info__innerInformationDescription {
    font-weight: var(--font-weight-400);
    padding-left: 35px;
  }
  
  .product-info__discountPopup {
    gap: 17px;
    width: 100%;
    display: flex;
    cursor: pointer;
    padding: 20px 0;
    margin-top: 20px;
    margin-bottom: 0;
    align-items: center;
    border-top: 1px solid var(--color-grey-10);
  }
  
  .product-info__discountPopup .product-info__icon {
    width: 17px;
  }
  
  .product-info__discountPopup .product-info__iconText {
    font-family: var(--font-primary);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-400);
    line-height: 1.45;
    letter-spacing: 0em;
    text-decoration: underline;
  }
  
  .product-main-section .section {
    padding-bottom: 0;
  }
  
  .custom-breadcrumb {
    gap: 4px;
  }
  
  .custom-breadcrumb,
  .product-breadCrumbInner {
    display: flex;
    align-items: flex-end;
  }
  
  .product-breadCrumbInner {
    gap: 4px;
  }
  
  .product-breadCrumb {
    color: var(--color-grey-08);
    font-family: var(--font-primary);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-400);
    line-height: normal;
    letter-spacing: -0.42px;
  }
  
  .product-breadCrumb.active {
    color: var(--color-primary);
  }
  
  .custom-breadcrumb svg {
    width: 18px;
    height: 18px;
  }
  
  .product .product-info__variant-picker .variant-picker .variant-picker__option-values.scroll-area {
    padding: 10px 0 ;
  }
  
  .product-info__price .rating-with-text .compare_at_price {
    display: flex;
  }
  
  .product-gallery .page-dots--blurred {
    background: transparent;
  }
  
  .product-gallery .page-dots--blurred {
    backdrop-filter: none;
    background: transparent;
    gap: 8px;
  }
  
  .page-dots>* {
    background: transparent;
    border: 1px solid var(--color-primary);
  }
  
  .page-dots>*[aria-current=true] {
    background-color: currentColor;
  }
  
  .quick-buy-drawer.quick-buy-drawer--addon {
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    display: flex !important;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .drawer::part(content) {
    max-height: auto;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  
  .quick-buy-drawer--addon .button.button--lg.button-black,
  .quick-buy-drawer--addon .button.button--lg.button-black div {
    background: var(--color-grey-07);
    color: var(--color-white);
    text-align: var(--text-center);
    font-family: var(--font-primary);
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: var(--font-weight-500);
    line-height: normal;
    border-radius: 0px;
  }
  
  .quick-buy-drawer--addon .bold.justify-self-start {
    font-family: var(--font-secondary);
    font-size: var(--font-size-14);
    font-style: normal;
    font-weight: var(--font-weight-400);
    line-height: normal;
    letter-spacing: 1.4px;
  }
  
  .quick-buy-drawer--addon .v-stack .price {
    font-family: var(--font-secondary);
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: var(--font-weight-400);
    line-height: normal;
  }
  
  .quick-buy-drawer--addon .variant-picker__option-info legend.text-subdued {
    font-family: var(--font-primary);
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: var(--font-weight-500);
    line-height: normal;
    color: var(--color-primary);
  }
  
  .quick-buy-drawer--addon .variant-picker__option-info variant-option-value {
    color: var(--color-grey-06);
    font-family: var(--font-secondary);
    font-size: var(--font-size-12);
    font-style: normal;
    font-weight: var(--font-weight-400);
    line-height: normal;
  }
  
  .quick-buy-drawer .variant-picker__option-info,
  .quick-buy-drawer .variant-picker__option-values {
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .drawer::part(header) {
    width: 100%;
  }
  
  .quick-buy-drawer::part(close-button) {
    position: absolute;
    right: 40px;
    top: 24px;
    width: 24px;
    margin: 0;
  }
  
  .quick-buy-drawer__variant.text-start.h-stack.gap-6 {
    padding: 0 20px;
  }
  
  .quick-buy-drawer__variant.text-start.h-stack.gap-6 variant-media {
    background: var(--color-light-beige);
  }
  
  .quick-buy-drawer__variant.text-start.h-stack.gap-6 variant-media {
    background: var(--color-light-beige);
    height: 100px;
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: center;
  }
  
  .quick-buy-drawer__variant .price-list {
    margin-top: 28px;
  }
  
  .quick-buy-drawer__variant variant-media .quick-buy-drawer__media {
    width: 100%;
    height: 100%;
    flex: 0 0 100px;
    min-width: 100px;
    mix-blend-mode: multiply;
  }
  
  .quick-buy-drawer__variant .v-stack {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .product-info__productERP {
    margin-top: 52px;
    position: relative;
    margin-bottom: 20px;
  }
  
  .product-info__event-detailsWrapper {
    width: 100%;
    margin: 55px 0;
    border-radius: 6px;
    padding: 28px 24px;
    background-color: var(--color-grey-03);
  }
  
  .product-info__event-heading {
    font-weight: var(--font-weight-500);
    line-height: 1.45;
    margin-bottom: 7px;
  }
  
  .product-info__event-details p {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-14);
    line-height: 1.45;
    color: var(--color-primary);
  }
  
  .il-product__erp {
    width: 100%;
    display: flex;
    border-radius: 6px;
    align-items: center;
    flex-direction: row;
    padding: 14px 14px 14px 29px;
    background-color: var(--color-grey-01);
    border-left: 5px solid var(--color-primary);
  }
  
  .il-product__erp--iconStore {
    margin-right: 10px;
  }
  
  .il-product__erp--iconStore--iconRight {
    margin-right: 0;
    margin-left: auto;
  }
  
  .swatch-get_image {
    width: 20px;
    height: 20px;
    display: block;
    flex: 0 0 20px;
    border-radius: 100%;
    background-color: var(--color-transparent);
    background: var(--swatch-background-img) no-repeat;
    background-size: cover;
  }
  
  .variant-picker__option--mainOption {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .variant-picker__option--mainOption .il-swatch__mainWrapper {
    width: 100%;
    row-gap: 0px;
    display: flex;
    align-items: center;
    flex-direction: inherit;
    justify-content: space-between;
  }
  
  .variant-picker__option--mainOption .il-swatchName {
    width: 100%;
    display: block;
  }
  
  .variant-picker__option--mainOption .il-priceDiff {
    width: 100%;
    display: block;
    text-align: var(--text-right);
  }
  
  .variant-picker .variant-picker__option--mainOption.variant-picker__option--mainOption .block-swatch {
    flex-direction: unset;
    margin: 0;
    flex: none;
    padding: 14px;
    max-width: 100%;
    border-radius: 6px;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid var(--color-grey-04);
  }
  
  .il-swatch__mainWrapper {
    row-gap: 3px;
    display: flex;
    flex-direction: column;
  }
  
  .variant-picker__option .variant-picker__option--mainOption.variant-picker__option-values :checked+.block-swatch,
  .variant-picker__option .variant-picker__option--mainOption.variant-picker__option-values .block-swatch.is-selected {
    background: var(--color-transparent);
  }
  
  .variant-picker__option .variant-picker__option--mainOption.variant-picker__option-values :checked+.block-swatch .il-swatchName,
  .variant-picker__option .variant-picker__option--mainOption.variant-picker__option-values .block-swatch.is-selected .il-swatchName,
  .variant-picker__option .variant-picker__option--mainOption.variant-picker__option-values :checked+.block-swatch .il-priceDiff,
  .variant-picker__option .variant-picker__option--mainOption.variant-picker__option-values .block-swatch.is-selected .il-priceDiff,
  .variant-picker__option .variant-picker__option--mainOption.variant-picker__option-values :checked+.block-swatch .il-priceDiff span,
  .variant-picker__option .variant-picker__option--mainOption.variant-picker__option-values .block-swatch.is-selected .il-priceDiff span,
  .variant-picker__option--mainOption .il-swatchName {
    color: var(--color-primary);
  }
  
  .swatch-main-image {
    width: 30px;
    display: block;
  }
  
  .variant-picker__option--mainOption .il-swatchName {
    text-align: var(--text-left);
  }
  
  .product.product--eventEnd .product-info__price,
  .product.product--eventEnd .product-info__compositionWrapper,
  .product.product--eventEnd .product-info__event.full-bleed,
  .product.product--eventEnd .product-info__quantity-selector,
  .product.product--eventEnd .product-info__total-price,
  .product.product--eventEnd .product-info__buy-buttons,
  .product.product--eventEnd .product-info__productERP,
  .product.product--eventEnd .product-info__discountPopup,
  .product.product--eventEnd .product-info__innerInformationContainer,
  .product.product--eventEnd .product-info__informationContainer,
  .product.product--eventEnd .il-addonProducts {
    display: none;
  }
  
  .il-productEndEventNotification {
    background: var(--color-grey-03);
    border-radius: 6px;
    padding: 28px 24px 40px;
    margin-top: 40px;
  }
  
  .product.product--eventEnd .il-productEndEventNotification {
    display: block;
  }
  
  .il-productEndEventNotification__heading {
    font-size: var(--font-size-22);
    font-weight: 500;
    line-height: normal;
    color: var(--color-primary);
    margin-bottom: 8px;
    opacity: 0.98;
  }
  
  .il-productEndEventNotification__content {
    line-height: 23.352px;
    color: var(--color-primary);
    opacity: 0.98;
  }
  
  .pswp .pswp__scroll-wrap {
    display: flex;
  }
  
  .pswp__thumbnails-bar.pswp__hide-on-close {
    z-index: 9;
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 50%;
  }
  
  .pswp__thumbnails-bar .pswp__thumbnails {
    display: flex;
    row-gap: 18px;
    margin-top: 18px;
    overflow-y: auto;
    padding-right: 5px;
    margin-bottom: 18px;
    flex-direction: column;
    margin-left: calc(50% - 200px);
  }
  
  .pswp__thumbnails-bar .pswp__thumbnails .pswp__thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
  }
  
  .pswp__thumbnails-bar .pswp__thumbnails .pswp__thumbnail.pswp__thumbnail--active {
    border-color: var(--color-primary);
  }
  
  .pswp__thumbnails-bar .pswp__thumbnail--img {
    max-width: 90px;
  }
  
  .pswp__bottom-bar .pagination {
    border: 1px solid var(--color-grey-04);
  }
  
  .template-product .discount-price {
    display: none;
  }
  
  @media only screen and (min-width: 1000px) {
    .product-info.product-info__mobile {
      display: none;
    }
  
    .product-info__event {
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .template-product .anchor {
      padding-top: 60px;
    }
  
    .shopify-section--main-product .product .product-info,
    .shopify-section--main-product .product .product-gallery {
      flex: 0 0 calc(50% - 15px);
      max-width: calc(50% - 15px);
    }
  }
  
  @media only screen and (max-width: 999px) {
  
    .shopify-section--main-product>.section {
      padding-top: 10px;
    }
  
    .shopify-section--main-product .product .product-info,
    .shopify-section--main-product .product .product-gallery {
      flex: 0 0 100%;
      max-width: 100%;
    }
  
    .shopify-section--main-product .product .product-gallery {
      top: unset;
      position: relative;
    }
  
    .shopify-section--main-product .product .product-info {
      display: flex;
      flex-direction: column;
    }
  
    .product-info__event {
      order: -1;
    }
  
    .product-info__compositionWrapper {
      margin-bottom: 0;
    }
  
    .product-info.product-info__desktop .il-product__title,
    .product-info.product-info__desktop .il-product__series,
    .product-info.product-info__desktop .product-info__price,
    .product-info.product-info__desktop .product-info__rating,
    .product-info.product-info__desktop .product-info__buy-buttons,
    .product .product-info.product-info__desktop .product-info__badge-list {
      display: none;
    }
  
    .product-info__eventLink {
      border-radius: 0;
    }
  
    .shopify-section--main-product .product-quick-add {
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 1;
      width: 100%;
      display: flex;
      transform: none;
      border-radius: 0;
      padding: 10px 20px;
      visibility: visible;
      background-color: var(--color-white);
    }
  
    .shopify-section--main-product .product-quick-add .product-form__wishlist {
      flex: 0 0 50px;
      justify-content: center;
    }
  
    .shopify-section--main-product .product-quick-add buy-buttons {
      flex: 1;
    }
  
    .product .product-info__badge-list .badge--image {
      width: auto;
    }
  
    .variant-picker__option--mainOption .il-swatchName {
      font-size: var(--font-size-12);
    }
  
    .variant-picker__option--mainOption .il-priceDiff,
    .variant-picker__option--mainOption .il-priceDiff span {
      font-size: var(--font-size-10);
    }
  }
  
  @media only screen and (max-width: 768px) {
    .shopify-section--main-product>.section {
      padding-bottom: 40px;
    }
  
    .custom-breadcrumb {
      flex-wrap: wrap;
    }
  
    .product-breadCrumb {
      font-size: var(--font-size-12);
    }
  
    .variant-picker__option .variant-picker__option-values .block-swatch {
      flex: 0 0 110px;
      max-width: 110px;
    }
  
    .quick-buy-drawer .variant-picker__option .variant-picker__option-values:not(.variant-picker__option--mainOption) .block-swatch {
      flex: 0 0 calc(100% / 3 - 10px);
      margin: 0 5px;
    }
  
    .product .product-info__badge-list {
      margin-bottom: 12px;
    }
  
    .product .product-info__badge-list .badge {
      padding: 5px 8px;
      font-size: var(--font-size-10);
    }
  
    .il-product__series {
      margin-bottom: 4px;
    }
  
    .product-info__title {
      font-size: var(--font-size-20);
    }
  
    .product-info__price .price-list sale-price,
    .product-info__price .price-list sale-price * {
      font-size: var(--font-size-20);
    }
  
    .product-info__price .price-list sale-price .nt-dollar {
      font-size: var(--font-size-14);
    }
  
    .product-info__price .price-list compare-at-price,
    .product-info__price .price-list compare-at-price * {
      font-size: var(--font-size-16);
    }
  
    .product .product-info__price {
      margin-bottom: 14px;
    }
  
    .product .product-info__price .product-info__sku {
      flex: 0 0 100%;
      max-width: 100%;
      display: contents;
    }
  
    .product .product-info__variant-picker .variant-picker {
      margin: 8px 0 12px;
      padding: 14px 0 18px;
    }
  
    .product-info__event {
      margin-bottom: 24px;
    }
  
    .product-info__total-price .price {
      font-size: var(--font-size-20);
    }
  
    .quick-buy-drawer::part(close-button) {
      position: absolute;
      right: 23px;
      top: 15px;
      width: 16px;
      height: 16px;
      margin: 0;
      display: block;
    }
  
    .quick-buy-drawer.drawer::part(header) {
      border: none;
    }
  
    .product .product-info__variant-picker .variant-picker .variant-picker__option-values.scroll-area {
      padding: 2px 22px;
    }
  
    .product .il-product__title {
      margin-bottom: 8px;
    }
  
    .product .product-info__rating {
      margin-bottom: 14px;
    }
  
    .product .product-info__ratingWrapper .icon {
      width: 20px;
      height: 20px;
    }
  
    .template-product .footer.il-footer .container {
      padding-bottom: 100px;
    }
  
    .il-addonProducts .button-black {
      height: 30px;
      width: 30px;
    }
  
    .product-info__share-buttons .share-buttons {
      width: 300px;
    }
  
    .il-timerCounter__heading {
      font-size: var(--font-size-24);
    }
  
    .il-timerCounter__countText {
      font-size: var(--font-size-16);
    }
  
    .pswp__thumbnails-bar .pswp__thumbnail--img {
      width: 50px;
      height: 50px;
      aspect-ratio: 1/1;
    }
  
    .pswp__thumbnails-bar .pswp__thumbnails {
      margin-left: 5vw;
      row-gap: 10px;
    }
  
    .pswp__top-bar .pswp__button--close {
      margin-inline-end: 20px;
      margin-block-start: 20px;
    }
  }
  
  @media only screen and (max-width: 540px) {
    .pswp__thumbnails-bar.pswp__hide-on-close {
      max-width: 100%;
      height: fit-content;
      height: -moz-fit-content;
      margin-top: auto;
      margin-bottom: 10vh;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  
    .pswp__thumbnails-bar .pswp__thumbnails {
      flex: 0 0 100%;
      margin: 0 auto;
      flex-direction: row;
      column-gap: 10px;
    }
  }